<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="pageTitle">Book Collection</title>
  </head>
  <body>
    <main>
<div class="book">
        <% searchResults.forEach(book => { %>
          <section id="book-template">
              <p><br>Title: <%= book.title %></p><br>
              <img src='<%=book.img.thumbnail%>'><br>
              <p>Author: <%= book.author %></p><br>
              <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
          </section>
          <% }); %>
        </div>
    </main>
  </body>
</html>