
/*for testing the server
body{
    background-color: antiquewhite;
}

h1{
    color: brown;
}

p {
    text-align: center;
    color: darkblue;
}
*/

@import url('layout.css');
@import url('modules.css');


*{
    box-sizing: border-box;
}


body {
    font-family:sans-serif;
    font-size: 50%;
    margin: auto;
    background-color: #9b9b9b;
}
  
/*Mobile*/  
@media only screen and (max-width: 768px){
    body {
      width: 500px;
    }
}


/*Desktop*/  
@media only screen and (min-width: 768px){
    body {
      width: 960px;
    }
}